<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Exchange on the Banks, Easy on the Bank.</title>

		<!-- Favorite Icon -->
		<link rel="shortcut icon" type="image/png" href="assets/favicon.png?v=9" />

		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>

		<script type="text/javascript" src="/faye/client.js"></script>

	</head>
	<body>
		<div id="loadingIcon">LOADING</div>
		<div class="fixed">
			<nav id="nav">
				<div class="xsmall-4 small-5 medium-3 large-2 columns">
					<a href="#!/index"><img style="margin-left: 5px" src="assets/logo.png" class="logo" /></a>
				</div>
				<div class="hide-for-small medium-9 large-10 columns">
					<form class="bigSearchForm search">
						<div class="row collapse">
								<div class="medium-11 large-10 columns">
									<input type="text" id="query" name="query" placeholder="Search" class="search" />
								</div>
								<div class="medium-1 large-2 columns">
									<button type="submit"><i class="fi-magnifying-glass"></i></button>
								</div>
						</div>
					</form>
				</div>
				<div class="show-for-small xsmall-8 small-7 columns">
					<ul class="right click-grid">
						<li class="toggle-search"><i class="fi-magnifying-glass"></i></li>
						<li class="toggle-search-hide" style="display: none"><i class="fi-x"></i></li>
						<a href="#!/messages"><li class="toggle-notif"><i class="fi-mail"></i></li></a>
						<!--<li class="toggle-notif"><i class="fi-megaphone"></i></li>-->
						<li class="toggle-menu"><i class="fi-list"></i></li>
						<li class="toggle-menu-hide" style="display: none"><i class="fi-x"></i></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="hide-for-small medium-3 large-2 columns sidebar-container">
			<div class="sidebar front-item" id="sidebar">
			</div>
		</div>
		<div class="show-for-small mobile-menu-container">
			<div class="mobile_menu mobile_menu_base" id="mobile_menu">
			</div>
		</div>
		<div class="small-12 medium-9 large-10 columns main-container front-item"></div>
	</body>
</html>
