<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RUXChange | Exchange on the Banks - Easy on the Bank.</title>

		<!-- Favorite Icon -->
		<link rel="shortcut icon" type="image/png" href="img/favicon2.png?v=8" />

		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>

		<script type="text/javascript" src="/faye/client.js"></script>

	</head>
	<body>
		<div id="loadingIcon">LOADING</div>
		<div class="fixed">
			<nav id="nav">
				<div class="small-8 medium-3 large-2 columns">
					<img src="img/logo.png" class="logo" />
				</div>
				<div class="hide-for-small medium-9 large-10 columns">
					<form class="bigSearchForm search">
						<div class="row collapse">
								<div class="medium-11 large-10 columns">
									<input type="text" id="query" name="query" placeholder="Search" class="search" />
								</div>
								<div class="medium-1 large-2 columns">
									<button type="submit"><i class="fi-magnifying-glass"></i></button>
								</div>
						</div>
					</form>
				</div>
				<div class="show-for-small small-4 columns">
					<ul class="right click-grid">
						<li class="toggle-search"><i class="fi-magnifying-glass"></i></li>
						<li class="toggle-search-hide" style="display: none"><i class="fi-x"></i></li>
						<li class="toggle-menu"><i class="fi-list"></i></li>
						<li class="toggle-menu-hide" style="display: none"><i class="fi-x"></i></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="hide-for-small medium-3 large-2 columns sidebar-container front-item">
			<div class="sidebar">
				<h6>Main</h6>
				<span id="nav_links_main">
					<!-- Filled by a script -->
				</span>
				<hr />
				<h6>Categories</h6>
				<span id="nav_links_sections">
					<a href="#!/sect/textbooks">Textbooks</a>
					<a href="#!/sect/tkts">Football Tickets <strong>| FREE</strong></a>
					<a href="#!/sect/furniture">Furniture</a>
					<a href="#!/sect/rides">Transportation</a>
					<a href="#!/sect/miscellaneous">Miscellaneous</a>
					<a href="#!/sect/suggest">Suggestions?</a>
				</span>
				<hr />
				<h6>Information</h6>
				<span id="nav_links_information">
					<a href="#!/info/priv">Privacy Agreement</a>
					<a href="#!/info/terms">Terms of Use</a>
					<a href="#!/info/contact">Contact Us</a>
					<a href="#!/info/docs">Help</a>
				</span>
			</div>
		</div>
		<div class="small-12 medium-9 large-10 columns main-container front-item"></div>
	</body>
</html>
