<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Exchange on the Banks, Easy on the Bank.</title>

		<!-- Favorite Icon -->
		<link rel="shortcut icon" type="image/png" href="assets/favicon2.png?v=9" />

		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>

		<!--<script type="text/javascript" id="faye_script" src="http://localhost:3001/faye/client.js"></script>-->

	</head>
	<body>
		<!-- Overlays and global templates -->
		
		<!-- Loading Icon - currently just a fading string saying "LOADING" -->
		<div id="loadingIcon">LOADING</div>


		<!-- Notification Template - for desktop view notifications -->
		<section class="template" id="notificationTemplate">
			<div class="notif">
				<div class="notif-close template_notif_close">&times;</div>
				<div class="notif-top">
					<a class="notif-a template_link" href="#!:tool_link">
						<i class="notif-icon template_notif_icon"></i>
						<span class="notif-title template_notif_tool_name auto-cap"></span>
					</a>
				</div>
				<div class="notif-time template_notif_time"></div>
				<div class="notif-message template_notif_text"></div>
				<div class="notif-instr">
					<a class="notif-a template_block_notifications">
						Block Notifications
					</a>
				</div>
			</div>
		</section>

		<section class="template" id="mobileNotificationTemplate">
			<div class="product-popup-offer-row">
				<div class="notif-top">
					<a class="notif-a template_link" href="#!:tool_link">
						<i class="notif-icon template_notif_icon"></i>
						<span class="template_notif_tool_name auto-cap"></span>
						<span class="notif-title-modifier template_notif_modifier"></span>
					</a>
				</div>
				<div class="notif-time template_notif_time"></div>
				<div class="notif-message template_notif_text"></div>
			</div>
		</section>

		<!-- Layout of webapp -->

		<!-- Fixed topbar with logo, on desktop: search bar, on mobile: shortcuts and menu button -->
		<div class="fixed">
			<nav id="nav">
				<div class="xsmall-4 small-5 medium-3 large-2 columns">
					<a href="#!/index"><img src="assets/logo-main.png" class="logo" /></a>
				</div>
				<div class="hide-for-small medium-9 large-10 columns">
					<form class="bigSearchForm search">
						<div class="row collapse">
								<div class="medium-11 large-10 columns">
									<input type="text" id="query" name="query" placeholder="Search" class="search" />
								</div>
								<div class="medium-1 large-2 columns">
									<button type="submit"><i class="fi-magnifying-glass"></i></button>
								</div>
						</div>
					</form>
				</div>
				<div class="show-for-small xsmall-8 small-7 columns">
					<ul class="right click-grid">
						<li class="toggle-search"><i class="fi-magnifying-glass"></i></li>
						<li class="toggle-search-hide" style="display: none"><i class="fi-x"></i></li>
						<li class="toggle-notif" style="position: relative;">
							<i class="fi-megaphone">
								<div id="notif-megahorn-badge" class="notif-megahorn-badge"></div>
							</i>
						</li>
						<li class="toggle-notif-hide" style="display: none"><i class="fi-x"></i></li>
						<li class="toggle-menu"><i class="fi-list"></i></li>
						<li class="toggle-menu-hide" style="display: none"><i class="fi-x"></i></li>
					</ul>
				</div>
			</nav>
		</div>

		<!-- Sidebar navigation for desktop -->
		<div class="hide-for-small medium-3 large-2 columns sidebar-container">
			<div class="sidebar front-item" id="sidebar">
			</div>
		</div>

		<!-- Sidebar navigation for mobile -->
		<div class="show-for-small mobile-menu-container">
			<div class="mobile_menu mobile_menu_base" id="mobile_menu">
			</div>
		</div>

		<!-- So-called "wnd", the pageLoader's window and render target -->
		<div class="small-12 medium-9 large-10 columns main-container front-item"></div>
	</body>
</html>
