.dialog-overlay {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 950;
}

.dialog {
	background-color: #eee;
	border: 6px solid rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	color: black;
	position: fixed;
	z-index: 951;
}

.dialog .dialog-title {
	background-color: #d44;
	/* Outset border looks great in chrome, but nowhere else */
	/* Might as well just manually set the colors myself. */
	border-top: 2px solid #ee6666;
	border-left: 2px solid #ee6666;
	border-bottom: 2px solid #9a4242;
	border-right: 2px solid #9a4242;
	color: white;
	font-size: 1.05em;
	font-weight: bold;
	padding: 4px 10px;
	text-transform: capitalize;
}

.dialog .dialog-pane {
	margin: 0;
	overflow-y: auto;
	padding: 10px;
}

.dialog .dialog-button {
	background-color: #777;
	border-top: 2px solid #9c9c9c;
	border-left: 2px solid #9c9c9c;
	border-bottom: 2px solid #484848;
	border-right: 2px solid #484848;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 4px 10px;
	text-align: center;
	text-shadow: 1px 1px 4px #444;
	width: 50%;
}

.dialog .dialog-button.dialog-active {
	background-color: #d44;
	border-top: 2px solid #ee6666;
	border-left: 2px solid #ee6666;
	border-bottom: 2px solid #9a4242;
	border-right: 2px solid #9a4242;
}

.dialog .dialog-button.dialog-expand {
	width: 100%;
}

.dialog .dialog-close-button {
	color: white;
	cursor: pointer;
	float: right;
}
