.form {
	font-family: "Open Sans" !important;
}

.form .row .columns {
	padding: 0 5px;
	margin: 0;
}

.form h4 {
	font-size: 1.4em;
	color: #ccc;
	margin: 2px 0;
}

.form label {
	color: #ccc;
	display: block;
	font-weight: bold;
	font-size: 0.8em;
	margin: 10px 0 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.form input, .form select, .form textarea {
	background-color: white !important;
	border: 1px solid #bbb;
	box-sizing: border-box;
	display: block;
	font-family: "Open Sans" !important;
	outline: 0;
	margin: 0 0 4px;
	width: 100%;
}

.form input, .form textarea {
	padding: 10px 7px;
}

.form select {
	font-size: 0.9em;
}

.form .error {
	color: #f55;
	font-weight: normal;
	font-style: italic;
	margin: 0;
	white-space: normal;
}

.form textarea {
	height: 130px;
	resize: none;
}

.form input[type=checkbox] {
	display: inline;
	width: auto;
}

.form_button {
	/*background: #222;
	border: 2px solid #4a4a4a;
	box-shadow: inset 0 0 8px 1px #111;*/
	background-color: #bb4444;
	background-image: linear-gradient(#bb4747, #bb4444);
	border: 2px solid rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 10px 5px;
	text-transform: uppercase;
	width: 100%;
}

.form_button_compact {
	display: inline-block;
}

.offer_form input {
	background: none !important;
	border-color: #aaa;
	border-style: solid;
	border-width: 0 0 1px 0 !important;
	box-shadow: none;
	color: white;
	display: inline;
	font-weight: bold;
	padding: 0;
	width: auto;
	height: auto;
	text-align: center;
}

.offer_form .form_button {
	display: inline;
	margin-right: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
}

.action_button {
	background-color: #eee;
	background-image: linear-gradient(#eee, #ccc);
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow: inset 0 0 1px 0 #ddd;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 3px;
	padding: 0 8px;
	text-decoration: none;
	text-shadow: 0 1px 0 0 #eee;
	user-select: none;
	-ms-user-select: none;
	outline: 0;
}

.action_button:hover {
	background-image: linear-gradient(#eee, #ddd);
	border-color: #aaa;
	box-shadow: inset 0 0 1px 0 #fff;
	text-shadow: none;
}

.action_button:active {
	background-image: linear-gradient(#ccc, #ddd);
	box-shadow: inset 0 0 1px 0 #aaa;
	color: #222;
	text-shadow: none;
}

.form-dark label, .form-dark h4 {
	color: black;
}

.form-dark input {
	border-color: #adadad;
	color: black;
}

.form p.form-instructions {
	font-size: 0.9em;
}