.image-uploader-upload-box {
	border: 2px dashed #888;
	cursor: pointer;
	font-size: 0.8em;
	padding: 15px 20px;
	position: relative;
	text-align: center;
}

.image-uploader-progress-bar {
	box-sizing: border-box;
	border: 2px solid #555;
	display: inline-block;
	font-weight: bold;
	max-width: 400px;
	padding: 2px;
	text-transform: uppercase;
	vertical-align: middle;
	width: 75%;
}

.image-uploader-progress-stripes {
	background-size: 30px 30px;
	background-image: linear-gradient(135deg, #444 25%, transparent 25%, transparent 50%, #444 50%, #444 75%, transparent 75%, transparent);
	height: 100%;

	animation: progressbar 3s linear infinite;
	-webkit-animation: progressbar 3s linear infinite;
	-moz-animation: progressbar 3s linear infinite;
	-ms-animation: progressbar 3s linear infinite;
	-o-animation: progressbar 3s linear infinite;
}

.image-uploader-progress-container {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	height: 100%; width: 100%;
	vertical-align: middle;
}

.image-uploader-image-pane {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
	width: 100%;
}

.image-uploader-image-container {
	width: 12.5%;
}

.image-uploader-image-variable-container {
	width: 100%;
}

.imge-uploader-image-container-large {
	width: 16.6667%;
}

.image-uploader-image-container, .image-uploader-image-variable-container, .image-uploader-image-container-large {
	cursor: pointer;
	float: left;
}

.image-uploader-image-text {
	padding: 0 10px 0 0;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.image-uploader-image-block {
	float: left;
	height: 0; width: 100%;
	padding-bottom: 100%;
	position: relative;
}

.image-uploader-delete-button {
	width: 100%;
}

.image-uploader-image-padding, .image-uploader-image-padding-uniform {
	display: inline-block;
	height: 100%; width: 100%;
	position: absolute;
	top: 0; left: 0;
}

.image-uploader-image-padding {
	padding: 5px 10px 0 0;
}

.image-uploader-image-padding-uniform {
	padding: 5px 5px;
}

.image-uploader-image-inner {
	border: 3px solid #444;
	padding: 0.4em;
}

.image-uploader-image-inner-no-border {
}

.image-uploader-image-inner, .image-uploader-image-inner-no-border {
	background-color: #1e1e1e;
	box-sizing: border-box;
	height: 100%; width: 100%;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

.image-uploader-image-overlay {
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 0 20px 0 #111;
	color: white;
	display: inline-block;
	font-size: 3em; font-weight: bold;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	visibility: hidden;
	white-space: nowrap;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-touch-callout: none;
}

.image-uploader-image-inner:before, .image-uploader-image-inner-no-border:before, .image-uploader-image-overlay:before, .image-uploader-progress-container:before {
	content: '';
	display: inline-block;
	height: 100%; width: 0;
	margin-right: -0.25em;
	vertical-align: middle;
}

.image-uploader-image {
	display: inline-block;
	max-width: 100%; max-height: 100%;
	vertical-align: middle;
}

.image-uploader-image-overlay-content {
	color: white;
	display: inline-block;
	vertical-align: middle;
}

.image-uploader-error {
	color: #f55;
	font-style: italic;
}

.image-uploader-show-for-progress {
	visibility: hidden;
}

.image-uploader-show-for-notempty {
	display: none;
}

.image-uploader-form {
	display: none;
}

.image-uploader-no-select {
	cursor: default;
}

@keyframes progressbar {
	0% {
		background-position: -60px 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-webkit-keyframes progressbar {
	0% {
		background-position: -60px 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-moz-keyframes progressbar {
	0% {
		background-position: -60px 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-ms-keyframes progressbar {
	0% {
		background-position: -60px 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-o-keyframes progressbar {
	0% {
		background-position: -60px 0;
	}
	100% {
		background-position: 0 0;
	}
}


@media only screen and (max-width: 40em) {
	.image-uploader-image-container {
		width: 25%;
	}
	.image-uploader-image-container-large {
		width: 50%;
	}
	.image-uploader-image-overlay {
		font-size: 2em;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.image-uploader-image-container {
		width: 16.6667%;
	}
	.image-uploader-image-container-large {
		width: 25%;
	}
	.image-uploader-image-overlay {
		font-size: 2.5em;
	}
}
@media only screen and (min-width: 64.063em) {
	.image-uploader-image-container {
		width: 12.5%;
	}
	.image-uploader-image-container-large {
		width: 16.6667%;
	}
}