.image-viewer {
	margin-bottom: 10px;
	padding: 10px 15px;
	position: relative;
	width: 100%;
}

.image-viewer-selected {
	display: block;

	min-height: 240px; max-height: 540px;
	height: 44vh; width: 100%;

	padding: 0 10px 20px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
}


.image-viewer-selected img {
	max-height: 100%; max-width: 100%;
}

.image-viewer-slider-container {
	background-color: black;
	box-sizing: border-box;
	width: 100%;
	padding: 2px;
	overflow: hidden;
	border: 4px solid black;
}

.image-viewer-slider {
	box-sizing: border-box;
	display: inline-block;
	height: 80px; width: auto;
	margin: 0;
	white-space: nowrap;
}

.image-viewer-slider-image {
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding: 2px 4px;
	position: relative;
}

.image-viewer-slider-image img {
	height: 100%;
	width: auto;
}

.image-viewer-active .image-viewer-overlay {
	position: absolute;
	top: 2px; left: 4px; right: 4px; bottom : 2px;
	background-color: rgba(255, 255, 255, 0.5);
}

.image-viewer-author-controls {
	margin: 5px 0;
	font-size: 1.2em;
}

.image-viewer-lr-control {
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 3em;
	height: 100%; width: 40px;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 2px black, 0 0 5px black;
	vertical-align: middle;
	z-index: 20;
}

.image-viewer-lr-control:hover {
	font-size: 4em;
}

.image-viewer-lr-control-disabled {
    visibility: hidden;
}

.image-viewer-lr-control-disabled:hover {
	font-size: 3em;
}

.image-viewer-lr-control-content {
	display: inline-block;
	padding: 0;
}

.image-viewer-left-control {
	left: 10px;
}

.image-viewer-left-control .image-viewer-lr-control-content:after {
	content: '\2039';
}

.image-viewer-right-control {
	right: 10px;
}

.image-viewer-right-control .image-viewer-lr-control-content:before {
	content: '\203a';
}

.image-viewer-selected:before, .image-viewer-left-control:before, .image-viewer-right-control:after {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: -0.25em;
	vertical-align: middle;
}

@media only screen and (max-width: 40em) {
	.image-viewer-slider {
		height: 50px;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.image-viewer-slider {
		height: 70px;
	}
}
@media only screen and (min-width: 64.063em) {
	.image-viewer-slider {
		height: 80px;
	}
}