/* General stuff */

::selection {
	color: white;
	background-color: #f33;
}

body {
	font-family: "Open Sans" !important;
	font-size: 0.9em;
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, label {
	color: #dbdbdb;
	font-family: "Open Sans" !important;
}

a, a:visited {
	color: #ff8080;
}

a:active, a:hover {
	color: #ff6465;
	text-decoration: none;
}

a.hover-red:hover, a.hover-red:hover h4, a.hover-red h4:hover {
	color: #ff6465 !important;
}

label {
	margin: 0;
}

.click-grid li {
	cursor: pointer;
}


.counter {
	background-color: #dbdbdb;
	color: black;
	font-size: 0.6em;
	font-weight: bold;
	padding: 1px 7px 0;
	position: relative;
	top: -1px;
	border-radius: 999px;
}

.auto-cap {
	text-transform: capitalize;
}

/* Specific stuff */

nav {
	background-color: #444445;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 15px 0;
	width: 100%;
	position: absolute;
	z-index: 800;
}
nav h4 {
	color: #dbdbdb;
	font-weight: bold;
	margin: 0;
}

nav img.logo {
	height: 30px;
}

nav button {
	background-color: rgba(0, 0, 0, 0) !important;
	color: black !important;
	padding: 5px 0 7px;
	margin: 0;
	margin-left: -25px;
}

nav input[type=text] {
	height: 30px;
	padding: 4px;
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
}

nav li {
	color: #dbdbdb;
	float: left;
	font-size: 1.2em;
	margin: 0 8px;
}

.block-list-panel {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.front-item {
	padding-top: 70px !important;
}

.main-container {
	background-color: #2d2d2f;
	color: #dbdbdb;
	height: 100%;
	min-height: 100%;
	padding: 10px 10px;
}

.main-container h4 {
	color: #dbdbdb;
	font-weight: bold;
}

.main-container .bump {
    margin: 0 7px;
}

.main-container section.padded {
	padding: 0 20px;
}

.main-container section.padded-less {
    padding: 0 20px;
}

.search::-ms-clear {
    display: none;
}

/* Ubiquitous styles */

.centered {
	text-align: center;
}

.plain-link {
	text-decoration: none;
}

.page-alert {
	color: #f76868;
	margin: 0;
	padding: 0;
}

.load-more-button {
    background-color: #212123 !important;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 30px 10px;
    text-transform: uppercase;
}

.load-more-button.load-more-long {
    width: 100%;
}

.load-more-button:hover, .load-more-button:active {
    background-color: #1e1e20 !important;
}

/* Page styles */

.login {
	margin-top: 50px;
}

/* Media Queries */

@media only screen and (max-width: 40em) {
    .main-container .bump {
        margin: 0 6px;
    }
	.main-container section.padded {
		padding: 0 10px;
	}
    .main-container section.padded-less {
        padding: 0 5px;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .main-container .bump {
        margin: 0 6px;
    }
	.main-container section.padded {
		padding: 0 15px;
	}
    .main-container section.padded-less {
        padding: 0 10px;
    }
}

@media only screen and (min-width: 64.063em) {
    .main-container .bump {
        margin: 0 7px;
    }
	.main-container section.padded {
		padding: 0 20px;
	}
    .main-container section.padded-less {
        padding: 0 15px;
    }
}

/* Fonts */

@font-face {

    font-family: "Open Sans";

    font-style: normal;

    font-weight: 700;

    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');

}

@font-face {

    font-family: "Open Sans";

    font-style: normal;

    font-weight: 300;

    src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');

}

@font-face {

    font-family: "Open Sans";

    font-style: normal;

    font-weight: 800;

    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');

}

@font-face {

    font-family: "Open Sans";

    font-style: normal;

    font-weight: 400;

    src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');

}

/* To make the pageLoader framework work */
.template {display: none};

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50% 50%;
  }
}
