.message-left-adjustment {
	padding-left: 10px;
}

.message-left-adjustment-sm {
	padding-left: 2px;
}

.message-message {
	box-sizing: border-box;
	margin: 5px 0;
	padding: 2px 7px 4px 3px;
}

.message-message-name {
	color: #d44;
}

.message-message-date {
	color: #aaa;
}

.message-message-other {
	color: #ffffff;
}

.message-message-pane {
	height: 100%;
	position: relative;
}

.message-message-pane-inner {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.message-control-buttons {
	margin-bottom: 10px;
}

.message-control-buttons span {
	display: inline-block;
}

.message-conversation-pane {
	height: 100%;
}

.message-conversation-titlebar {
	display: table-row;
	height: 1px;
}

.message-convo-box {
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	margin: 2px;
	padding: 10px;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.message-convo-box .message-convo-name {
	font-weight: bold;
	font-size: 1.1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.message-convo-previous {
	color: #999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.message-fillable-parent {
	height: 100%;
	padding: 0;
	position: relative;
}

.message-fill-table {
	display: table;
	height: 100%;
	width: 100%;
}

.message-fill-parent {
	position: fixed;
	display: inline-block;
	top: 70px;
	bottom: 0;
	right: 0;
	padding: 0 10px;
	text-align: right;
}

.message-fill-fixed {
	height: 100%;
	text-align: left;
}

.message-send-button {
	background-color: #f44 !important;
	border-top: 2px solid #f66;
	border-left: 2px solid #f66;
	border-right: 2px solid #f22;
	border-bottom: 2px solid #f22;
	float: right;
	margin-bottom: 0.6em;
	outline: none;
	padding: 5px 16px;
}

.message-send-pane {
	display: table-row;
	height: 1px;
}

.message-sidebar {
	height: 100%;
	overflow: hidden;
	padding: 0;
}

.message-standing-offer {
	float: left;
	font-weight: bold;
}

.message-title {
	margin: 0;
}

.message-xsmall {
	font-size: 0.7em;
}
.message-small {
	font-size: 0.8em;
}
.message-medium {
	font-size: 0.9em;
}
.message-large {
	font-size: 1.0em;
}
.message-xlarge {
	font-size: 1.1em;
}

.message-box::-webkit-input-placeholder {
	color: rgb(150, 150, 150);
}

@media only screen and (max-width: 40em) {
	.message-convo-box {
		background-color: #444;
	}
	.message-fill-parent {
		width: 100%;
	}
}

@media only screen and (min-width: 40.063em) {
	.message-convo-box.message-convo-active {
		background-color: #444;
		border: 2px solid #555;
		margin: 0;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.message-fill-parent {
		width: 75%;
	}
}

@media only screen and (min-width: 64.063em) {
	.message-fill-parent {
		width: 83.33%;
	}
}