.notif {
	background-color: rgba(221, 48, 48, 0.95);
	border: 2px solid rgba(0, 0, 0, 0.4);
	color: white;
	display: inline-block;
	padding: 5px 10px 10px;

	position: fixed;
	bottom: 20px;
	right: 20px;

	width: 300px;

	z-index: 99999999;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
}

.notif .notif-a {
	color: white;
	text-decoration: underline;
}
.notif .notif-a:hover {
	text-decoration: none;
}
.notif .notif-message {
	font-size: 0.9em;
	margin: 7px 0;
	word-wrap: break-word;
}
.notif .notif-time {
	font-size: 0.7em;
	color: #cce;
}
.notif .notif-close {
	cursor: pointer;
	font-size: 1.2em;
	float: right;
}
.notif .notif-instr {
	font-size: 0.7em;
}
.notif .notif-top {
	color: white;
	font-weight: bold;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.notif .notif-top .notif-a {
	text-decoration: none;
}
.notif .notif-icon {
	margin-right: 4px;
}

@media only screen and (max-width: 40em) {
	.notif { display: none; } /* For mobile, must use mobile notification drawer */
}