.sidebar-container {
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

.sidebar {
	background-color: #222;
	box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.2);
	height: 100%;
	margin: 0;
	padding: 20px 0;
	width: 100%;
}

.sidebar a, .mobile_menu a {
	color: #eee;
	display: block;
	text-decoration: none;
	text-transform: lowercase;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 0.8em;
	padding: 12px 30px;
	letter-spacing: 0.05em;
}

.sidebar a:hover, .mobile_menu a:hover {
	background-color: #1e1e1e;
}

.sidebar a.active, .mobile_menu a.mobile_active, .mobile_menu a.mobile_ddactive {
	background-color: #1e1e1e;
}

.sidebar_mount, .mobile_mount_section {
	display: none;
}

.dropdown_contents {
	height: 0px;
	overflow-y: hidden;
}

.dropdown_contents a {
	background-color: #822;
}

.dropdown_contents a.dropdown_active, .dropdown_contents a:hover {
	background-color: #9e2222;
}

.mobile_menu {
	background-color: #222;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
	height: 0;
	margin: 0;
	overflow-y: hidden;
	padding: 0;
	position: absolute; top: 60px; left: 0;
	width: 100%;
	z-index: 900;
}

.mobile_menu a.mobile_dropdown:after, .mobile_mount_section a.mobile_dropdown:after {
	content: '\203a';
	font-weight: bold;
	font-size: 1.4em;
	margin-top: -3px;
	position: absolute; right: 30px;
}

.mobile_menu_dropdown {
	z-index: 1030;
	height: auto;
	transform: translate3d(100%, 0, 0);
}

.mobile_menu a.mobile_dropdown_return:before {
	content: '\2039';
	font-weight: bold;
	font-size: 1.4em;
	margin-top: -4px;
	position: absolute; left: 12px;
}