a.tab {
	background-color: #444;
	border: 3px solid #555;
	border-right: 0;
	border-bottom: 0;
	box-sizing: border-box;
	color: white;
	display: inline-block;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	outline: 0;
}
a.tab:hover {
	background-color: #4f4f4f;
}
a.tab.active {
	background-color: #555;
}
a.tab.last {
	border-right: 3px solid #555;
}
.tab_pane, .switch_pane {
	box-sizing: border-box;
}
.switch_pane {
	background-color: #555;
	color: #ebebeb;
	padding: 20px;
}

.switch_pane p {
	font-size: 0.9em;
}

.spcontent {
	display: none;
}

@media only screen and (max-width: 40em) {
	.switch_pane {
		padding: 5px;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.switch_pane {
		padding: 11px;
	}
}

@media only screen and (min-width: 64.063em) {
	.switch_pane {
		padding: 20px;
	}
}